.tipo-unas {
    align-items: center;
    justify-content: flex-start;
    padding-left: 5rem;
    padding-top: 1rem;

    .strong-portfolio {
        font-size: medium;
        text-decoration: underline;
    }
}

.carousel {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    
    .carousel-inner {
        display: flex;
        width: 20%;
    }
    
    .d-block {
        width: 100%;
        max-height: 17rem;
    }
}

.carousel-control-prev {
    margin-top: 20px;
}

.carousel-control-next {
    @extend .carousel-control-prev;
}