.reserva {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-reserva {
        display: contents;
        justify-content: center;
        align-items: center;
    }

    .linea {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contacto-reserva {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        
        .contacto-reserva1 {
            display: flex;
            padding: 5px;
        }
    
        .contacto-reserva2 {
            @extend .contacto-reserva1
        }
    }

    .semana {
        padding-top: 5px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        column-gap: 2rem;
        row-gap: .2rem;
        border: 1px solid $color-quaternary;
        justify-items: center;
        font-size: 20px;
        margin: 2px;
        padding: 5px;
        background-color: $color-quinary;
    }

    .diseno-img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        border: 1px solid $color-quaternary;
        padding: 15px;
        background-color: $color-quinary;
        max-width: max-content;

        .titulo-img {
            font-size: medium;
            font-weight: bold;
        }
    }

    .enviar{
        margin: 10px;
    }
}