@import "variables";
@import "_general";
@import "index";
@import "reserva";
@import "portfolio";
@import "lugar";
@import "contacto";

// Mobile 320px
@media screen and (min-width: 320px) {
    // Index
    .index-img {
        width: 100%;
        height: auto;
        margin-top: 25px;
    }

    // Portfolio
    .tipo-unas {
        padding-left: 1rem;
    }

    .carousel {
        .carousel-inner {
            width: 65%;
        }

        .d-block {
            max-height: 12rem;
        }
    }
    
    // Reserva
    .reserva {
        .grid {
            column-gap: 0rem;
            row-gap: 0rem;
            font-size: small;
            margin: 5px;
            padding: 5px;
        }
    
        .semana {
            margin: 5px 0px;
        }
    
        .diseno-img{
            margin-top: 10px;
            padding: 5px;
            font-size: smaller;
        }
    }
    
    // Lugar

    .completo-main {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .lugar-main {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .ubi {
                font-size: medium;
            }
        }

        .lugar-img {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
    
        .mapa {
            width: 290px;
            height: 175px;
            margin-top: 10px;
        }

        .lugar-img {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    // Contacto
    .contacto-main {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .contactar {
            display: flex;
            flex-direction: column;
            justify-content: right;
            align-items: flex-end;

            .contacto3 {
                text-align: center;
            }
        }
    
        .redes {
            padding-top: 5px;
        }        
    }
    
};

// Mobile 425px
@media screen and (min-width: 425px) {
    // Lugar
    .mapa {
        width: 360px;
        height: 185px;
    }

    // Porfolio
    .carousel {
        .carousel-inner {
            width: 35%;
        }

        .d-block {
            max-height: 12rem;
        }
    }
};

// Tablet 768px
@media screen and (min-width: 768px) {
    // Index
    .index-img {
        width: 100%;
        height: auto;
    }

    // Porfolio
    .tipo-unas {
        padding-left: 3rem;
    }

    .carousel {
        .carousel-inner {
            width: 30%;
        }

        .d-block {
            max-height: 12rem;
        }
    }
    
    // Reserva
    .reserva {
        .grid {
            column-gap: 0.2rem;
            row-gap: 0.1rem;
        }
    }
    
    // Lugar
    .mapa {
        width: 490px;
        height: 175px;
    }
};

// Desktop 1024px
@media screen and (min-width: 1024px) {
    // Index
    .index-img {
        margin-top: 0px;
        width: 100%;
        height: auto;
    }

    // Portfolio
    .tipo-unas {
        padding-left: 5rem;
    }

    .carousel {
        .carousel-inner {
            width: 20%;
        }

        .d-block {
            max-height: 17rem;
        }
    }
    
    // Reserva
    .reserva{
        .grid {
            column-gap: 0.8rem;
            row-gap: 0.3;
            font-size: 18px;
        }
    
        .diseno-img{
            margin-top: 10px;
            padding: 5px 10px;
        }
    }
    
    // Lugar
    .completo-main {
        flex-direction: row;

        .lugar-main {
            flex-direction: column;

            .ubi {
                font-size: x-large;
            }
        }
    
        .lugar-img {
            flex-direction: row;
            flex-wrap: wrap;
        }
    
        .mapa {
            width: 550px;
            height: 320px;
            margin-left: 50px;
            margin-right: 50px;
        }    
    }

    // Contacto
    .contacto-main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .redes {
            display: block;

            .whatsapp {
                margin-top: 20px;
            }
        }    
    }   
};